:root {
    --main-blue: #1e80ff;
    --hover-blue: rgb(199, 222, 255);
    --hover-blue2: #e8f3ff;
    --main-gray1: #666666;
    --main-gray2: #999999;
    --main-gray3: #CCCCCC;
    --main-black: #000000;
    --main-black2: #111111;
    --text-color: #333333;
    --main-white: #ffffff;
    --main-white2: #fcfcfc;
    --main-white3: #e0e0e0;
    --main-white4: #fafafa;
    --main-white5: #f8f8f8;
    --chat-white1: #f5f5f5;
    --chat-white2: #e1e1e1;
    --main-white-dark: rgb(220, 220, 220);
    --hover-white: rgb(249, 251, 253);
    --bottom-white: rgb(247, 248, 250);
    --main-shadow: rgba(0, 0, 0, 0.1);
    --main-shadow-light: rgba(0, 0, 0, .05);
    --main-shadow-light2: rgba(0, 0, 0, .025);
    --main-orange: #FFA116;
    --main-red: #f50;
}

html,
body {
    height: 100%;
}


/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}


/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    color: var(--text-color);
}

h1 {
    font-size: 18px;
    /* 18px / 12px = 1.5 */
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}


/* 将斜体扶正 */

b,
strong {
    font-weight: normal;
}


/* 将粗体扶细 */

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/* 重置列表元素 */

ul,
ol {
    list-style: none;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0 !important;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
    color: var(--main-gray1);
}


/* 重置表单元素 */

legend {
    color: var(--main-black);
}


/* for ie6 */

fieldset,
img {
    border: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}


/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 重置 hr */

hr {
    border: none;
    height: 1px;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}


/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */


/* html {
    overflow-y: scroll;
} */

a:link:hover {
    color: var(--main-blue) !important;
    text-decoration: underline;
}


/* 清除浮动 */

.clearfix::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
}


/* 处理单行文本 */

.one_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 处理多行文本 */

.more_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
}